<li>
    <a href="{{ $props.get('link') }}" title="{{ $props.get('title') }}"
        class="flex justify-center items-center w-8 h-8 border border-gray-400 rounded-full text-lg bg-gray-300 hover:bg-indigo-500 hover:border-indigo-600 hover:text-white">
        <iconify-icon icon="{{ $props.get('icon') }}"></iconify-icon>
    </a>
</li>